.cards {
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 30px;
}

.cards-card {
  text-align: center;
  width: 200px;
  height: 250px;
  box-shadow: 3px 3px 7px grey;
  background-color: white;
  border-radius: 3px;
  padding: 20px;
}

.cards-card img {
  height: 100px;
  background-size: cover;
  background-position: center;
}

.cards-card h3 {
  padding: 0px;
  margin: 20px 0 0 0;
  font-size: 16px
}

.cards-card p {
  padding: 0;
  margin: 16px 0 0 0;
  color: grey;
  opacity: .5;
}

.card-centre {
    width: 1200px;
    margin: auto;
}
